* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: black;
}

header img {
  width: 150px;
  margin-left: 20px;
}

main {
  margin: 20px;
}

h1 {
  font-size: 16px;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.carrousel {
  display: flex;
  overflow-x: scroll;
  flex-wrap: nowrap;
  /* gap : 20px */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.carrousel::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.carrousel {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
